@* BlazorGame.Client/Layout/NavMenu.razor *@
<nav class="nav flex-column nav-pills">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">
        <span class="oi oi-home"></span> Home
    </NavLink>

    <NavLink href="/new-adventure" class="nav-link">
        <span class="oi oi-flash"></span> Nouvelle aventure
    </NavLink>

    <NavLink href="/leaderboard" class="nav-link">
        <span class="oi oi-graph"></span> Classement
    </NavLink>

    <NavLink href="/admin" class="nav-link">
        <span class="oi oi-cog"></span> Admin
    </NavLink>
</nav>

