@page "/"

<section class="container-narrow text-center">
    <h1 class="display-4 fw-bold gradient-text">BlazorGameQuest</h1>
    <p class="lead mt-2">Explorez des donjons, faites des choix, grimpez au classement.</p>
    <div class="mt-4">
        <a class="btn btn-success btn-lg" href="/new-adventure">▶ Commencer l’aventure</a>
        <a class="btn btn-outline-primary btn-lg ms-2" href="/leaderboard">Voir le classement</a>
    </div>
</section>
